
#innerContainer {
  display: block;
  margin: 0 auto;
  max-width: 500px;

}
p {

}

#gameBoard {
display: block;
margin: 0 auto;
text-align: center;
}

.row {
margin-bottom: 3px;
padding: 0;
max-height: 58px;
max-width: 186px;
display: block;

}

.gameBoardSquare {
display: inline-block;
height: 50px;
width: 50px;
padding: 0;
background: red;
border: solid black 2px;
text-align: center;
vertical-align: middle;
}